{% extends "base.html" %} 
{% block title %} FUTPulse {% endblock %}

{% block profile %}
<div class="profile">
    <div class="header-right">
        <span class="material-symbols-outlined" onclick="toggleProfile()">account_circle</span>
    </div>
    <div id="profile-container" class="hidden">
            <b>User</b>: {{current_user.first_name.title()}}
            <hr class="h-color mx-2">
        <button type="button" class="btn btn-danger" onclick="window.location.href='/logout'">Logout</button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="heading mt-2"> 
    <h1>EA FC 25 Players</h1> 
</div>

<hr class="h-color light-hr mx-2">

<div class="search-container">
    <form action="{{ url_for('views.search_player') }}" method="get">
        <input
            type="text"
            name="query"
            placeholder="Search for a player..."
            required
            class="search-input"
        />
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<div class="container">
    <div class="images">
        {% for entry in player_data%}
            <div class="image-box" data-name="{{ entry.name }}">
                <a href="{{ url_for('views.player_detail', player_name=entry.name) }}">
                <img src="{{ url_for('static', filename='cards/' + entry.name + '.png') }}" alt="{{ entry.name }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="home-buttons"><a class="btn btn-primary" href="{{ url_for('views.gold_view') }}">More Players</a></div>
    <div class="images">
        {% for entry in icon_data%}
            <div class="image-box" data-name="{{ entry.name }}">
                <a href="{{ url_for('views.player_detail', player_name=entry.name) }}">
                <img src="{{ url_for('static', filename='cards/' + entry.name + '.png') }}" alt="{{ entry.name }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="home-buttons"><a class="btn btn-primary" href="{{ url_for('views.icon_view') }}">More Icons</a></div>
</div>
{% endblock %}